/* theme D override
-----------------------------------------------------------------------------------------------------------*/
.ui-btn-up-d, .ui-btn-hover-d, .ui-btn-down-d {
	border: 1px solid #cccccc /*{d-bup-border}*/;
	background: #eeeeee /*{d-bup-background-color}*/;
	font-weight: bold;
	color: #2f3e46 /*{d-bup-color}*/;
	text-shadow: 0 /*{d-bup-shadow-x}*/ 1px /*{d-bup-shadow-y}*/ 0 /*{d-bup-shadow-radius}*/ #ffffff /*{d-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #fcefcf /*{d-bup-background-start}*/), to( #ebb537 /*{d-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #fcefcf /*{d-bup-background-start}*/, #ebb537 /*{d-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #fcefcf /*{d-bup-background-start}*/, #ebb537 /*{d-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #fcefcf /*{d-bup-background-start}*/, #ebb537 /*{d-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #fcefcf /*{d-bup-background-start}*/, #ebb537 /*{d-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #fcefcf /*{d-bup-background-start}*/, #ebb537 /*{d-bup-background-end}*/);
}

/* theme E override
-----------------------------------------------------------------------------------------------------------*/
.ui-btn-up-e, .ui-btn-hover-e, .ui-btn-down-e, .ui-btn-active {
	border: 1px solid #cccccc /*{d-bup-border}*/;
	background: #eeeeee /*{d-bup-background-color}*/;
	font-weight: bold;
	color: #2f3e46 /*{d-bup-color}*/;
	text-shadow: 0 /*{d-bup-shadow-x}*/ 1px /*{d-bup-shadow-y}*/ 0 /*{d-bup-shadow-radius}*/ #ffffff /*{d-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #fbfcf2 /*{d-bup-background-start}*/), to( #C0D53C /*{d-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #fbfcf2 /*{d-bup-background-start}*/, #C0D53C /*{d-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #fbfcf2 /*{d-bup-background-start}*/, #C0D53C /*{d-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #fbfcf2 /*{d-bup-background-start}*/, #C0D53C /*{d-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #fbfcf2 /*{d-bup-background-start}*/, #C0D53C /*{d-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #fbfcf2 /*{d-bup-background-start}*/, #C0D53C /*{d-bup-background-end}*/);
}

/* active button override
-----------------------------------------------------------------------------------------------------------*/
.ui-btn-active {
	border: 1px solid #cccccc /*{d-bup-border}*/;
	background: #eeeeee /*{d-bup-background-color}*/;
	font-weight: bold;
	color: #2f3e46 /*{d-bup-color}*/;
	text-shadow: 0 /*{d-bup-shadow-x}*/ 1px /*{d-bup-shadow-y}*/ 0 /*{d-bup-shadow-radius}*/ #ffffff /*{d-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #cccccc /*{d-bup-background-start}*/), to( #cccccc /*{d-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #cccccc /*{d-bup-background-start}*/, #cccccc /*{d-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #cccccc /*{d-bup-background-start}*/, #cccccc /*{d-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #cccccc /*{d-bup-background-start}*/, #cccccc /*{d-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #cccccc /*{d-bup-background-start}*/, #cccccc /*{d-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #cccccc /*{d-bup-background-start}*/, #cccccc /*{d-bup-background-end}*/);
}

/* other css
-----------------------------------------------------------------------------------------------------------*/

body {
	background-color:#FFF;
}

#nav-top {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e1e1e1));
	width: 100%;
	padding: 10px 0px 10px 25px;
	position: relative;
	min-width: 700px;
	/* box-shadow: 5px 5px 5px #CCC; */
}

.nav-top-selected-product {
	background: #e1e1e1;
}

#logo-corporate {
	position:absolute;
	top: 10px;
	right: 50px;
}

h1 {
	font-size: 20px;
	font-weight: normal;
	padding: 0px;
	margin: 0px 0px 0px 15px;
	position: absolute;
}

h2 {
	font-size: 18px;
	font-weight: normal;
	padding: 0px;
	margin: 20px 0px 0px 15px;
	position: absolute;
}

.nav-left {
	/*background-color: #F00;
	background-color: #FFF;
	border: 1px solid #DEDEDE;
	-webkit-border-radius: 8px;*/
	padding: 0px;
	margin: 0px;
	position: absolute;
	top: 110px;
	left: 25px;
	width: 280px;
	}

.content-list {
	padding: 0px;
	position: absolute;
	top: 110px;
	left: 330px;
	right: 25px;
	min-width: 320px;
}

.content-description.ui-li-desc {
	white-space: normal;
}

.subnav {
	padding-left: 20px;
	font-weight: normal;
}

#back-button {
	padding: 0px;
	margin: 0px;
	position: absolute;
	top: 90px;
	left: 25px;
}





