/* Style the player */
body {
  margin: 0;
  background-color: black;
}
/* Hide the player control bar */
.video-js .vjs-control-bar {
  display: none;
}
/* Remove click events on the player */
.video-js {
  pointer-events: none;

}
/* Style the article container and text */
#article {
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  width: 33%;
  margin:2rem;
  float: right;
  font-size: 1.2rem;
  position: absolute;
  top: 7em;
  right: 3em;
}
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}
