/**********************************************
Styles for BC Learning CTA sample
**********************************************/
.BCL-image a {
   cursor: pointer;
}
.BCL-player-wrapper {
  padding: 0px;
  position:relative;
}
.BCL-image {
  position:absolute;
  /******
  the following values determine the location of the CTA image;
  they are pixels measurements from the top left corner of the 
  video player
  ******/
  left:480px;
  top:160px;

}
.BCL-image img {
  margin: 0;
  visibility: hidden;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.BCL-image img.transparent {
  visibility: visible;
  opacity:0;
}
.BCL-image img.opaque {
  visibility: visible;
  opacity: 1;
}