/* This is css */
#beacon_details_mid_page_section {
   
    background-color: black;
    color: white;
    font-size: medium;
}

#beacon-web-app-overflow {
    background-color: black;
    color: white;
    font-size: large;
}

#player_side_panel_hook {
  margin-left: 50px;
}