
    /* styling for the video thumbnails */
    .video-thumbnail {
      margin: 0;
      padding: 0;
      width: 180px;
      height: 97px;
      cursor: pointer;
      border-style: solid;
    }

    /*override some of the default overlay styling*/
    div.vjs-overlay.vjs-overlay-top {
      width: 100%;
      height: 100%;
      left: 0;
      margin-left: -10px;
    }