/**************************
 * Multiple Video Player  *
 **************************/
#videoName, #timeRemaining {
  background-color:#F4F4F4;
  color: #990000;
}
#video_1 {
  width: 640px;
  height: 360px;
  margin-left: 20px;
  margin-top: 10px;
}