/* This is css */
#beacon_details_mid_page_section {
   
    background-color: black;
    color: white;
    font-size: medium;
}

#beacon-web-app-overflow {
    background-color: black;
    color: white;
    font-size: large;
}

#custom_page_area {
  margin-left: 15px;
  background-color: beige;
}