body {
    color: #333;
    margin: 6em;
    margin-top: 0;
    font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

a {
    color: #437ABE;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3 {
    margin-left: -1em;
}

h1 {
    border-bottom: 1px #CCC solid;
    font-size: 2.5em;
}
h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

div {
    border-bottom: 1px #CCC solid;

}

    pre {
        background-color: #FBFBFB;
        font-size: 1rem;
        margin-bottom: 1.3rem;
        padding: .5rem;
        padding-left: 1rem;
        margin-top: 1rem;
        border-left: 5px solid rgb(223,223,223);
        -webkit-box-shadow: 5px 5px 10px rgba(192, 192, 192, 1.000);
        -moz-box-shadow: 5px 5px 10px rgba(192, 192, 192, 1.000);
        box-shadow: 5px 5px 10px rgba(192, 192, 192, 1.000);
    }
    code {
        background-color: #FFFFFF;
        font-family: source-code-pro, Monaco, Consolas, Menlo, "Lucida Console", monospace
        font-weight: bold;
        border: none;
    }


.breadcrumbs {
    background-color: #f6f6f6;
    border-bottom: 1px #CCC solid;
    margin: 0;
    margin-left: -1em;
    padding: 2px;
    padding-left: .3em;
}

.section {
    border-bottom: 5px #EEE solid;
}